/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	height:100%;
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome.
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses margins set differently in IE6/7.
 */

p,
pre {
    margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */

q {
    quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7.
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7.
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7.
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* end Normalize */

/* 

SPTI KIOSK VIEW STYLES

Author: Justin Winslow
Last updated: 07/17/2012 by Justin Winslow


~ NOTES ~

z-index levels:
1-9		- Structure elements
10-19	- Basic content elements
100-109 - Hovers, pop ups, etc.

*/

/*
@font-face { 
	font-family: DINEngschriftStd; 
	src: url('../fonts/DINEngschriftStd.otf'); 
}

@font-face { 
	font-family: DINNeuzeitGroteskStd-Light; 
	src: url('../fonts/DINNeuzeitGroteskStd-Light.otf'); 
}

@font-face { 
	font-family: DINNeuzeitGroteskStd;
	src: url('../fonts/DINNeuzeitGroteskStd-BdCond.otf'); 
}
*/

/* Main Elements*/

body {
	background:#111;
	border-bottom:6px solid #111;
	font-family:Arial, Helvetica, sans-serif;
	font-size:75%;
	color:#ccc;
	line-height:1.5em;
}

h1 {
	font-weight:normal;
	font-size:2.5em;
	color:#fff;
	margin:0 0 1.5em;
	padding:0;
	font-family: DINEngschriftStd, "Segoe UI", sans-serif;
}

h2 {
	font-weight:normal;
	font-size:2em;
	margin:0 0 .75em;
	padding:0;
	font-family: DINEngschriftStd, "Segoe UI", sans-serif;
}

h2 span {
	font-size:.75em;
}

h3 {
	font-weight:normal;
	font-size:2em;
	color:#ccc;
	margin:0 0 .5em;
	font-family: DINEngschriftStd, "Segoe UI", sans-serif;
}

h4 {
	font-weight:bold;
	font-size:1.25em;
	margin:0 0 .5em;
}

h5 {
	font-weight:bold;
	font-size:1em;
	margin:0 0 .5em;
}

p {
	font-size:1em;
	margin:0 0 .5em;
}

p + h2, ul + h2 {
	margin-top:1em;
}

p + h3, ul + h3 {
	margin-top:1em;
}

p + h4, ul + h4 {
	margin-top:1em;
}

a, a:active, a:visited, a:hover {
	color:#0066cc;
}

ul {
	list-style-type:none;
	padding:0;
	margin:0 0 1em 0;
}

ul li {
	margin:0 0 1em 0;
}

ul li:last-child, ul:last-child {
	margin-bottom:0;
}

ul li ul {
	margin:1em 0 0;
}

ul li ul li {
	margin:0 0 1em 1em;
}

hr {
	height:0px;
	background:#ccc;
	border:none;
	border-bottom:1px solid #454545;
	border-top:1px solid #222;
	margin:24px 0;
}

/* */

/* Kiosk main */

.site_main {
	background:#333 url(../images/bg_color_333.png);
	min-width:1000px;
}

.site_header {
	background:url(../images/bg_kiosk_header.png) 0 top repeat-x;
	padding:0 12%;
	overflow:hidden;
	min-height:150px;
}

.site_header h1 {
	float:left;
}

.site_header h1 span {
	width:420px;
	height:150px;
	background:url(../images/logo_kiosk_header.png) 0 0 no-repeat;
	display:block;
	text-indent:-9999px;
}

.site_header h2 {
	float:right;
	margin:51px 0 0;
	font-size:3em;
	line-height:75px;
	color:#333;
	text-shadow:0 1px 0 #fcde6a;
	font-weight:bold;
}

.site_footer {
	background:url(../images/bg_kiosk_footer.png) 0 bottom repeat-x;
	padding:12px;
	min-height:50px;
	border-bottom:1px solid #343434;
}

.site_body {
	padding:0 15%;
}

.site_body h3 {
	text-transform:uppercase;
	font-size:3em;
}

.site_body h3 span {
	text-transform:none;
	font-size:.75em;
}

/* Fluid layout items */

.column_group {
	padding:0;
	overflow:hidden;
}

.column_half {
	width:49.9%;
	padding:0;
	margin:0;
	float:left;
}

.column_third {
	width:33%;
	padding:0;
	margin:0;
	float:left;
}

.column_twoThirds {
	width:66%;
	padding:0;
	margin:0;
	float:left;	
}

div.rightColumn {
	width:75%;
	float:right;
	margin-left:-100%;
	height:100%;
	overflow:auto;
	border-right:1px solid #ccc;
	background:#ddd;
}

div.leftColumn {
	margin-right:75%;
	height:100%;
	overflow:auto;
}

div.leftColumn_wrapper {
	width:100%;
	float:right;
}

/* Modules */

.module.chart {
	min-height:300px;
	margin:0 0 36px;
}

.module.chart h3 {
	font-size:;
}

.module.chart img.loading {
	position:absolute;
	top:0;
	left:0;
	margin:12px;
}

img.moduleGraphic {
	width:100%;
}

/* Messages */

.message {
	text-shadow:none;
	margin:0 0 6px;
	padding:.5em;
	font-size:.9em;
	line-height:1em;
	color:#111;
}

.message:last-child {
	margin:0;
}

.message.error, span.message.error {
	background:#f19d9d;
	border:1px solid #f12727;
}

.messageInline.error, span.messageInline.error {
	color:#f00;
	font-size:1em;
	line-height:1em;
}

.message.warning, span.message.warning {
	background:#f5f48e;
	border:1px solid #eeec2d;
}

form + .message.error {
	margin: 1em 0 0;
}

/* */

/* <div class="resourceSaved"><span class="number">XX</span> <span class="resource">Barrels of oil</span> <span class="time">saved this month</span></div> */

.module.resources .resourceSaved {
	position:relative;
	font-family: DINEngschriftStd, "Segoe UI", sans-serif;
	text-transform:uppercase;
	padding:12px 0 0;
	float:left;
	width:60%;
	overflow:hidden;
}

.module.resources .resourceSaved span.number {
	font-family:'Segoe UI', Arial, Helvetica, sans-serif;
	letter-spacing:-5px;
	display:block;
	float:left;
	font-size:84px;
	line-height:84px;
	color:#fff;
	margin:0 12px 0 12px;
}

.module.resources .icon {
	width:120px;
	height:120px;
	float:left;
}

.module.resources .icon.oil {
	background:url(../images/sprite_resources.png) 0 0 no-repeat;
}

.module.resources .icon.trees {
	background:url(../images/sprite_resources.png) 0 -480px no-repeat;
}

.module.resources .icon.water {
	background:url(../images/sprite_resources.png) 0 -240px no-repeat;
}

.module.resources .resourceSaved p {
	display:block;
	font-size:2em;
}

.module.resources .resourceSaved span.resource {
	display:block;
	
	/*background:url(../images/text_gallonsOfOilSavedThisYear.png) 0 0 no-repeat;
	text-indent:-9999px;*/
	
	margin:9px 0 0 9px;
	font-size:2em;
	line-height:1em;
	color:#ffb218;
}

.module.resources .column_third {
	max-width:120px;
}

/* */

/* Weather */

.module.weather {
	padding:12px 0 0 0;
	font-family: DINEngschriftStd, "Segoe UI", sans-serif;
	float:right;
}

.module.weather .icon {
	background:url(../images/sprite_weather.png) 0 0 no-repeat;
	width:90px;
	height:90px;
	float:right;
	margin:0 12px 0 0;
}

.module.weather .icon.clear {
	background:url(../images/sprite_weather.png) 0 0px no-repeat;
}

.module.weather .icon.partlycloudy, .module.weather .icon.mostlysunny {
	background:url(../images/sprite_weather.png) 0 -100px no-repeat;
}

.module.weather .icon.mostlycloudy, .module.weather .icon.partlysunny {
	background:url(../images/sprite_weather.png) 0 -200px no-repeat;
}

.module.weather .icon.cloudy, .module.weather .icon.nt-cloudy {
	background:url(../images/sprite_weather.png) 0 -300px no-repeat;
}

.module.weather .icon.tstorms, .module.weather .icon.nt-tstorms {
	background:url(../images/sprite_weather.png) 0 -400px no-repeat;
}

.module.weather .icon.rain, .module.weather .icon.nt-rain {
	background:url(../images/sprite_weather.png) 0 -500px no-repeat;
}

.module.weather .icon.snow, .module.weather .icon.nt-snow {
	background:url(../images/sprite_weather.png) 0 -600px no-repeat;
}

.module.weather .icon.nt-clear {
	background:url(../images/sprite_weather.png) 0 -700px no-repeat;
}

.module.weather .icon.nt-partlycloudy {
	background:url(../images/sprite_weather.png) 0 -800px no-repeat;
}

.module.weather .icon.nt-mostlycloudy {
	background:url(../images/sprite_weather.png) 0 -900px no-repeat;
}

.module.weather .description {
	float:right;
	min-width:120px;
}

.module.weather .description p.temperature {
	font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
	letter-spacing:-3px;
	font-size:5em;
	line-height:1em;
	color:#fff;
	text-align:center;
	margin:0 0 3px;
	padding:0;
}

.module.weather .description p.status {
	color:#ccc;
	display:block;
	font-size:2em;
	line-height:1em;
	text-transform:uppercase;
	text-align:center;
	white-space:nowrap;
}

/* */

/* Array Status */

.module.arrayStatus {
	background:none;
	border:none;
	overflow:hidden;
	min-height:0;
	height:inherit!important;
	margin:0 0 24px;
}

.module.arrayStatus .content {
	margin:0;
	padding:0;
	min-height:0;
	height:inherit;
}

.module.arrayStatus .title {
	float:left;
}

.module.arrayStatus .title h3 {
	text-shadow: 0 1px 0 #fff;
	font-size:1.5em;
	width:112px;
	height:60px;
	margin:0 36px 0 0;
	background:url(../images/text_EnergyGeneration.png) 0 0 no-repeat;
	text-indent:-9999px;
}

.module.arrayStatus h3 span {
	font-size:.66em;
	font-weight:normal;
}

.module.arrayStatus .energyHistory {
	
	margin:0 0 24px;
	padding:0;
}

.module.arrayStatus .energyHistory ul {
	overflow:hidden;
	margin:0;
	padding:0;
	color:#ccc;
}

.module.arrayStatus .energyHistory ul li {
	float:left;
	width:25%;
	margin:0;
	padding:0;
	text-align:left;
}

.module.arrayStatus .energyHistory ul li {
	font-family: DINEngschriftStd, "Segoe UI", sans-serif;
	letter-spacing:1px;
}

.module.arrayStatus .energyHistory ul li h4 {
	margin:0;
	padding:0;
	text-transform:uppercase;
	color:#ffb218;
	font-size:1.25em;
}


.module.arrayStatus .energyHistory ul li:last-child {
	border-right:none;
}

.module.arrayStatus .energyHistory ul li span.value {
	font-family:'Segoe UI', Arial, Helvetica, sans-serif;
	font-size:48px;
	line-height:36px;
	letter-spacing:-3px;
	color:#fff;
}

.module.arrayStatus .energyHistory ul li span.unit {
	font-size:1.5em;
}

.module.arrayStatus .status {
	padding:6px 0 6px 45px;
	margin:0 0 12px;
	overflow: hidden;
}

.module.arrayStatus .status.efficiency {
	background:url(../images/icon_statusBars.png) 0 3px no-repeat;
}

.module.arrayStatus .status.health {
	background:url(../images/icon_statusBars.png) 0 -94px no-repeat;
}

.module.arrayStatus .status .floatWrapper {
	width:100%;
	float:right;
}
	
.module.arrayStatus .status .indicatorWrapper {
	border-radius:12px;
	border-bottom:1px solid #fff;
	margin-right:96px;
	height:100%;
}

.module.arrayStatus .status .indicatorContainer {
	border:1px solid #aaa;
	height:22px;
	border-radius:11px;
	background:#ddd url(../images/sprite_statusBars.png) 0 0 repeat-x;
}

.module.arrayStatus .status .indicatorContainer .indicator {
	width:0;
	background:#ddd url(../images/sprite_statusBars.png) 0 -100px repeat-x;
	height:22px;
	border-radius:12px;
}

.module.arrayStatus .status .indicatorContainer .indicator.warning {
	background:#ddd url(../images/sprite_statusBars.png) 0 -200px repeat-x;
}

.module.arrayStatus .status .indicatorContainer .indicator.alert {
	background:#ddd url(../images/sprite_statusBars.png) 0 -200px repeat-x;
}

.module.arrayStatus .status .number {
	width:96px;
	float:right;
	margin-right:-100%;
	height:100%;
	color:#555;
	text-align:center;
}

.module.arrayStatus .status .number span {
	display:block;
	font-family:'Segoe UI', Arial, Helvetica, sans-serif;
	font-size:2em;
	margin:0 0 3px;
	font-weight:bold;
}

/* */