<!doctype html>
{% import '/layout/shared.html' as shared with context %}
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">

<title>{% block title %}{% endblock %} - Draker - Intelligent Array &#153 Portal</title>

{{ shared.includes() }}

{% block includes %}{% endblock %}

</head>
<body id="{% block page_id %}{% endblock %}">
<div class="site_main">
	<div class="site_header">
		{{ shared.header() }}
	</div>
	<div class="site_body">
		<div class="page_header">
			<h2>{% block page_title %}{% endblock %}</h2>
			{% block page_header %}{% endblock %}
		</div>
		<div class="page_body wSideBar">
			<div class="rightColumn_wrapper">
				<div class="rightColumn fullHeight">
					{% block page_body %}{% endblock %}
				</div>
			</div>
			<div class="leftColumn fullHeight">
				{% block page_sideBar %}{% endblock %}
			</div>
		</div>
	</div>
</div>
</body>
</html>
