{% extends "_templates/layout.html" %}
{% block title %}SiteArray {{ g.sitearray.site.sitename }}: {{ g.sitearray.label }}{% endblock %}
{% block body %}
<h2>Site Array</h2>
<h3>{{ g.sitearray.site.sitename }}: {{ g.sitearray.label }}</h3>
<p>
Owner: {{ g.sitearray.site.owner }}
</p>
<p>
Integrator: {{ g.sitearray.site.integrator }}
</p>
<p>
<ul>
{% for inverter in g.sitearray.inverters %}
    <li> &nbsp; Inverter: {{ inverter.label }}
    <ul>
    {% for combiner in inverter.combiners %}
        <li> &nbsp; Combiner: {{ combiner.label }}
        <ul>
        {% for string in combiner.strings %}
            <li> &nbsp; String: {{ string.label }}
            <ul>
            {% for panel in string.panels %}
                <li> &nbsp; Panel: {{ panel.label }} &nbsp; {{ panel.offset_x }} {{ panel.offset_y }}</li>
            {% endfor %}
            </ul></li>
        {% endfor %}
        </ul></li>
    {% endfor %}
    </ul></li>
{% endfor %}
</ul>
</p>
<a href="/ia/zones">Show Zones</a> &nbsp; <a href="/dashboard">Show Dashboard</a>
{% endblock %}

