{% extends "_templates/layout.html" %}
{% block title %}SiteArrays{% endblock %}
{% block body %}
<div>
<h2>Select a Site Array <span class="float-right">Total: {{ g.sitearrays|length }} Site Arrays</span></h2>

</div>

<hr/>
<br/>
{% if g.sitearrays|length > 0 %}
	<div class="floatContainer">
    {% for sitearray in g.sitearrays %}
		<div class="btn_huge">
		<a href="/ia/setarray/{{ sitearray.id }}">
			{{ sitearray.label }} <br/>
			<span>
				<strong>@ {{ sitearray.site.sitename }}</strong> <br/>
				Integrator: {{ sitearray.site.integrator }} <br/>
				Owner: {{ sitearray.site.owner }}<br/>
				Version: {{ sitearray.version }}<br/>
				Status: {{ sitearray.status }}
			</span>
		</a>
		</div>
    {% endfor %}
	</div>
{% else %}
    <p>No Site Arrays found.</p>
{% endif %}

{% if g.user.email != 'demo@drakerenergy.com' and g.user.email != 'demo@spowertech.com' %}
<p><a href="/admin">View admin</a></p>
<p><a href="/mkdata">View MetaKit Drilldown</a></p>

<hr width="400"/>
{% if g.sitearrays|length > 0 %}
    {% for sitearray in g.sitearrays %}
	<ul>
        <li><a href="/ia/setarray/{{ sitearray.id }}">Site Name: {{ g.sitename }}</a> &nbsp; <a href="/dashboard/{{ sitearray.id }}">Dashboard</a> &nbsp; <a href="/ia/devices/{{ sitearray.id }}">Devices</a></li>
        <li>Integrator: {{ sitearray.site.integrator }}</li>
        <li>Owner: {{ sitearray.site.owner }}</li>
        <li>Site Array Name: {{ sitearray.label }}</li>
    </ul>
    <hr width="400"/>
    {% endfor %}
{% else %}
    <p>No Site Arrays found.</p>
{% endif %}
{% endif %}






{% endblock %}

