






































































{% extends "_templates/layout.html" %}
{% import '_templates/macro_modules.html' as modules with context %}
{% import '_templates/macro_includes.html' as includes with context %}

{% block title %}Panel Dashboard{% endblock %}

{% block includes %}<!-- Page specific includes -->
{{ includes.dashboard('debug') }}

<!-- end Page specific includes -->{% endblock %}

{% block pageID %}page_dashboard{% endblock %}
{% block body %}
	<input id="pageProperties" name="pageProperties" type="hidden" value="deviceType=panel&deviceId={{ panels[0].id }}">
	
	<div class="container_headerWithNav">
		<h2>Dashboard <span>&ndash; <a href="/ia/dashboard/">{{ g.sitearray.site.sitename }} {{ g.sitearray.label }}</a> &raquo; {% if pstring == None %}Zone {{ zone.label }}{% else %}<a href="/ia/dashboard/inverter/{{ pstring.combiner.inverter.label.replace(' ','_') }}">Inverter {{ pstring.combiner.inverter.label }}</a> &raquo; <a href="/ia/dashboard/combiner/{{ pstring.combiner.label.replace(' ','_') }}">Combiner {{ pstring.combiner.label }}</a> &raquo; <a href="/ia/dashboard/string/{{ pstring.label.replace(' ','_') }}">String {{ pstring.label }}</a> &raquo; Panel {{ panels[0].label }}{% endif %}</span></h2>
		
		<div class="container_viewControls">
			{{ modules.dateSelection(g.min_date, g.max_date) }}
			{{ modules.pageNav('dashboard') }}
		</div>
	</div>

	<div class="column_group">
		<div class="column_fixed">
			{{ modules.arrayNav() }}
		</div>
		<div class="column_fluid">
			{{ modules.map("myMap", hilite_panels, g.sitearray.preferred_rotation, g.sitearray.offset_dir, "Map Title") }}
			
            {% if pstring != None %}	
				{% if panels[0].panel_monitors[0] %}
					{{ modules.chart("irradianceAndSignal", "env+opt", "env+" ~ panels[0].panel_monitors[0].macaddr, "irradiance_mean+RSSI_mean", "Irradiance+Average+and+Radio+Signal+Strength", "half") }}
				
					{{ modules.chart("voltageIO", "opt", panels[0].panel_monitors[0].macaddr, "Vi_mean-Vo_mean", "Voltage+I/O+Average", "half") }}
				
					{{ modules.chart("powerIO", "opt", panels[0].panel_monitors[0].macaddr, "Pi_mean-Po_mean", "Power+I/O+Average", "half") }}
				
					{{ modules.chart("currentIO", "opt", panels[0].panel_monitors[0].macaddr, "Ii_mean-Io_mean", "Current+I/O+Average", "half") }}
				{% endif %}	
			{% endif %}
			
			<div class="floatContainer" style="clear:all">
				{% for panel in panels %}
					<p>Id: {{ panel.id }} | Label: {{ panel.label }} | String: {{ panel.pstring.label }} | MacAddr: {% if panels[0].panel_monitors[0] %}{{ panels[0].panel_monitors[0].macaddr }}{% endif %}<br/>
                    Manufacturer: {{ panel.paneltype.manufacturer.name }} | {{ panel.paneltype.name }} {{ panel.paneltype.module_number }}<br>
                    Size: {{ panel.paneltype.length }}mm x {{ panel.paneltype.width }}mm x {{ panel.paneltype.thickness }}mm</p>
				{% endfor %}
				<hr/>

                {% if pstring == None %}
                    {% for zone in g.sitearray.zones %}
					    <p>Zone Label: <a href="/ia/dashboard/zone/{{ zone.label }}">{{ zone.label }}</a> | Panels: {{ zone.panels|length }}</p>
                    {% endfor %}
				    <hr/>
                {% endif %}
                    
				{% for mkfile in mkfiles %}
					<p>mkfile: {{ mkfile.name }} {{ mkfile.id }}</p>
				{% endfor %}
                <hr/>
                <p>
                hilite panels: {{ hilite_panels }}
                </p>
			</div>
		</div>
	</div>
{% endblock %}
{% block popUpContent %}
	<div id="popUp" class="popUp_content" style="display:none;">
		<h3>Header</h3>
		<div class="content">
			Content
		</div>
	</div>
{% endblock %}
