{% extends "_templates/layout.html" %}
{% import '_templates/macro_modules.html' as modules with context %}
{% import '_templates/macro_includes.html' as includes with context %}

{% block title %}String Dashboard{% endblock %}

{% block includes %}<!-- Page specific includes -->
{{ includes.dashboard('debug') }}

<!-- end Page specific includes -->{% endblock %}

{% block pageID %}page_dashboard{% endblock %}
{% block body %}
	<input id="pageProperties" name="pageProperties" type="hidden" value="deviceType=string&deviceId={{ pstrings[0].id }}">
	
	<div class="container_headerWithNav">
		<h2>Dashboard  <span>&ndash; <a href="/ia/dashboard/">{{ g.sitearray.site.sitename }} {{ g.sitearray.label }}</a> &raquo; <a href="/ia/dashboard/inverter/{{ pstrings[0].combiner.inverter.label.replace(' ','_') }}">Inverter {{ pstrings[0].combiner.inverter.label }}</a> &raquo; <a href="/ia/dashboard/combiner/{{ pstrings[0].combiner.label.replace(' ','_') }}">Combiner {{ pstrings[0].combiner.label }}</a> &raquo; String {{ pstrings[0].label }}</span></h2>
		
		<div class="container_viewControls">
			{{ modules.dateSelection(g.min_date, g.max_date) }}
			{{ modules.pageNav('dashboard') }}
		</div>
	</div>

	<div class="column_group">
		<div class="column_fixed">
			{{ modules.arrayNav() }}
		</div>
		<div class="column_fluid">
			{{ modules.map("myMap", hilite_panels, g.sitearray.preferred_rotation, g.sitearray.offset_dir, "Map Title") }}
			
			{% for pstring in pstrings %}
				{{ modules.chart(
					"powerVIrradiance", 
					"strint+env", 
					pstring.label ~ "+env", 
					"P_mean+irradiance_mean", 
					"Power+and+Irradiance", 
					"half"
				)}}
				
				{{ modules.chart(
					"voltageAndCurrent", 
					"strint", 
					pstring.label, 
					"I_mean-V_mean", 
					"Current+and+Voltage", 
					"half"
				)}}			
			{% endfor %}
			
			<div class="floatContainer">
				{% for pstring in pstrings %}
				<h3>String: {{ pstring.label }} {{ pstring.id }}</h3>
					Inverter: {{ pstring.combiner.inverter.label }}<br/>
					Combiner: {{ pstring.combiner.label }}<br/>
					Number of panels: {{ pstring.panels.count() }}<br/>
					{% for panel in pstring.panels %}
					&nbsp; {{ panel.label }} ({% if panel.panel_monitors.count() > 0 %}{{ panel.panel_monitors[0].macaddr }}{% else %}No monitor found{% endif %}) - {{ panel.offset_x }}, {{ panel.offset_y }}<br/>
					{% endfor %}
					<hr/>
				{% endfor %}

				<h4>Data Files</h4>
				{% for mkfile in mkfiles %}
				&nbsp; {{ mkfile.name }}<br/>
				{% endfor %}

                <p>
                hilite panels: {{ hilite_panels }}
                </p>
			</div>
		</div>
	</div>

{% endblock %}

{% block popUpContent %}
	<div id="popUp" class="popUp_content" style="display:none;">
		<h3>Header</h3>
		<div class="content">
			Content
		</div>
	</div>
{% endblock %}
