{% extends "_templates/layout.html" %}
{% import '_templates/macro_modules.html' as modules with context %}
{% import '_templates/macro_includes.html' as includes with context %}

{% block title %}Site Array Summary{% endblock %}

{% block includes %}<!-- Page specific includes -->
{{ includes.dashboard('debug') }}

<!-- end Page specific includes -->{% endblock %}

{% block pageID %}page_summary{% endblock %}
{% block body %}
	<div class="container_headerWithNav">
		<h2>Summary for Site Array <span>{{ g.sitearray.site.sitename }} {{ g.sitearray.label }}</span></h2>
		
		<div class="container_viewControls">
			{{ modules.dateSelection(g.min_date, g.max_date) }}
			{{ modules.pageNav('summary') }}
		</div>
	</div>
	
	<div class="column_group">
		{{ modules.chart("irradianceAndPowerOut", "env+opt|arrayavg", "env+opt|arrayavg", "irradiance_mean+Po_sum", "Irradiance and Power Out", "half") }}
		
		{{ modules.messages("messages_Name", "half") }}

		<div class="floatContainer">
			<hr/>
			<h2>Issues</h2>
			{% for issue in issues %}
			Issue: {{ issue.level() }} -- {{ issue.summary }}{% for tag in issue.tags %} &nbsp; {{ tag }}{% endfor %}<br/>
			{% endfor %}

		</div>
	</div>
{% endblock %}
